@{
    ViewData["Title"] = "Crear Propietario";
}



<div class="d-flex justify-content-center align-items-center col-lg-5">
    <form class="container mt-5" asp-action="Create" method="post">

        <h1> Nuevo Inmueble </h1>

        <div class="form-group">
            <label for="direccion">Direccion:</label>
            <input class="form-control" type="text" id="direccion" name="direccion">
        </div>
        <div class="form-group">
            <label for="uso">Uso:</label>
            <input class="form-control" type="text" id="uso" name="uso">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input class="form-control" type="text" id="tipo" name="tipo">
        </div>
        <div class="form-group">
            <label for="cantidadAmbientes">Cantidad de ambientes:</label>
            <input class="form-control" type="text" id="cantidadAmbientes" name="cantidadAmbientes">
        </div>
        <div class="form-group">
            <label for="coordenadas">Coordenadas:</label>
            <input class="form-control" type="text" id="coordenadas" name="coordenadas">
        </div>
        <div class="form-group">
            <label for="precioInmueble">Precio:</label>
            <input class="form-control" type="text" id="precioInmueble" name="precioInmueble">
        </div>
        <div class="form-group">
            <label for="estado">Estado:</label>
            <input class="form-control" type="text" id="estado" name="estado">
        </div>
        <div class="form-group">
            <label for="idPropietario">Propietario:</label>
            <select class="form-control" id="idPropietario" name="idPropietario">
                <option value="">Seleccione un propietario...</option>
                @foreach (var propietario in Model.ListaPropietarios)
                {
                    <option value="@propietario.Id">@propietario.ToString()</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="idContrato">Contrato:</label>
            <select class="form-control" id="idContrato" name="idContrato">
                <option value="">Seleccione un contrato...</option>
                @foreach (var contrato in Model.ListaContratos)
                {
                    <option value="@contrato.Id">@contrato.ToString() </option>
                }
            </select>
        </div>

        <button class="btn btn-primary my-2" type="submit">Guardar</button>
    </form>
</div>


<style>
    body {
        background-color: rgb(35, 39, 48);
    }

    label,
    h1 {
        color: white;
    }

    .form-control {
        background-color: #474749;
    }
</style>